<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scholarly</title>
  <style>
    .center {
      width: 50%;
      border: 3px solid green;
      padding: 10px;
    }
  </style>
</head>
<body>
  {{{body}}}     
</body>
</html>