
<h1> input two things and see which one science has deemed to be better </h1>
<form action="/" method="post">
<div class="center">
    <input id="first" type="text" name="first" placeholder="first thing">
    <br/>
    <input id="second" type="text" name="second" placeholder="second thing">
    <input type="submit" value="submit">
</div>
</form>
{{{result}}} is better by decree of science!